.size-button {
    font-size: 18px;
    font-weight: 300;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.size-button:hover {
    border: 1px solid black;
    transition: 0.3s all linear;
}

.size-button-clicked {
    font-size: 18px;
    font-weight: 300;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}