
.button {
    width: 100%;
    margin: 10px 0;
    padding: 0.25em 1em;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.25rem;
    font-family: "Balsamiq Sans", cursive;
    letter-spacing: 1px;
    background-color: rgb(207, 44, 44);
    border: 0.125em solid rgb(207, 44, 44);
    border-radius: 4px;
    box-shadow: 0 0 0.5em 0 rgb(207, 44, 44);
    transition: all 200ms linear;
}

.button:hover,
.button:focus {
    cursor: pointer;
    color: white;
    background-color: rgb(240, 40, 40);
    border: 0.125em solid rgb(240, 40, 40);
    box-shadow: 0 0 0.7em 0.1em rgb(240, 40, 40);
}

ul {
    color: #e3cfff;
    color: #fa46a6;
}