.maingrid {
  /* margin: 20px; */
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-gap: 20px; */
  grid-gap: 1.5%;
}

@media screen and (max-width: 1000px) {
  .maingrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .maingrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .maingrid {
    grid-template-columns: 1fr;
  }
}
