.slider {
  /* width: 100vw; */
  background-color: var(--secondary-color);
  display: grid;
  grid-template-areas:
    "toolbox"
    "slidercontent";
  grid-template-rows: 1fr 6fr;
  margin: 1rem 0;
}

.tool-box {
  grid-area: toolbox;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "groups buttons";
  /* margin: 0 20px; */
  margin: 0 1rem;
}

.group-box {
  grid-area: groups;
  display: flex;
  align-items: center;
}

.select-box {
  /* height: 100%; */
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  /* background: none; */
  /* background-color: white; */
}

.select-box option {
  display: inline-block;
}

.button-box {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .button-box {
    display: none;
  }
}

button {
  background-color: whitesmoke;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  padding: 10px 25px;
  padding: 0.7rem 1.8rem;
  border-radius: 10px;
  transition: border 0.3s ease;
}

.arrow-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btn-hidden {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.slider-content {
  grid-area: slidercontent;
  margin: 0 -10px;
  padding: 10px;
  padding-top: 0;
  overflow-x: scroll;
  display: grid;
}
