.form {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 10px;
  grid-template-areas:
    "username"
    "password"
    "submit";
}

.username-input {
  grid-area: username;
}

.password-input {
  grid-area: password;
}

.submit-button {
  grid-area: submit;
}

.logged-centered {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  margin: 20px;
}
