.product {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-areas: "mainbar sidebar";
  grid-gap: 60px;
  margin: 10px 15px;
}

.product-img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.mainbar {
  grid-area: mainbar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
}

.sidebar {
  grid-area: sidebar;
}

.product-info {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas:
    "name price"
    "firm firm"
    "description description";
  grid-gap: 5px;
  padding: 5px;
}

.name {
  grid-area: name;
  font-size: 30px;
  font-weight: 500;
}

.price {
  grid-area: price;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
}

.firm {
  grid-area: firm;
  font-size: 26px;
  font-weight: 400;
}

.description {
  grid-area: description;
  font-size: 20px;
  font-weight: 400;
}

.description hr {
  margin: 10px 0;
}

.product-buttons {
  text-align: center;
  padding: 0 5%;
  display: grid;
  grid-gap: 5px;
}