.cart {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-template-areas: "mainbar sidebar";
  grid-gap: 20px;
}

.mainbar {
  grid-area: mainbar;
}

.sidebar {
  grid-area: sidebar;
  border-left: 1px solid gray;
}

@media screen and (max-width: 800px) {
  .cart {
    grid-template-columns: 1fr;
    grid-template-areas:
      "mainbar"
      "sidebar";
    grid-gap: 10px;
  }

  .sidebar {
    grid-area: sidebar;
    border-left: none;
    border-top: 1px solid gray;
  }
}
