.modal {
  z-index: 6000;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modal__header {
  padding: 1rem 0.5rem;
  background: rgb(160, 23, 23);
  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  filter: alpha(opacity=100); /* For IE8 and earlier */
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
  -moz-opacity: 1; /* Firefox and Mozilla browsers */
  -webkit-opacity: 1; /* WebKit browser e.g. Safari */
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  filter: alpha(opacity=0); /* For IE8 and earlier */
  transition: all 200ms;
}
