.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1.5vw 2%;
  grid-template-areas: "logo mainbar";
  border-bottom: 1px #f5f5f5 solid;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.15), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  /* height: 5vw; */
  transition: 0.2s ease-in;
}

.navbar:hover {
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.22),
    0 -8px 3px 3px rgba(0, 0, 0, 0.16);
}

.logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 6%;
  margin: 10px 20px;
  /* font-size: 30px; */
  /* font-size: 1.9rem; */
  /* font-size: 2vw; */
  /* font-size: calc(15px + 0.390625vw); */
  font-size: var(--h6-font-size);
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logopic img {
  width: min(5vw, 60px);
}

@media screen and (max-width: 1000px) {
  .logopic img {
    width: max(5vw, 35px);
  }
}

.logotext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbar {
  grid-area: mainbar;
  /* margin: 0; */
  /* margin-left: 30%; */
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* font-size: 22px; */
  font-size: var(--h8-font-size);
  font-weight: 300;
}

.logged {
  grid-template-columns: 3fr 5fr 5fr 4fr 6fr 4fr;
}

.mainbar a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged a:first-child {
  grid-column-start: 2;
}

.admin a:first-child {
  grid-column-start: auto;
}

.mainbar a:hover,
.mainbar a:focus {
  background-color: rgba(245, 245, 245, 0.65);
}

.mainbar-mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .mainbar {
    display: none;
  }

  .mainbar-mobile {
    display: block;
  }
}

.menu,
.menu-open {
  height: 100%;
  float: right;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 25px;
  z-index: 100;
}

.menu img,
.menu-open img {
  transition: 0.3s;
}

.menu-open img {
  transform: rotate(-90deg);
}

.menu-content {
  display: none;
  /* transform: translate(50px); */
  animation: fadeOut 0.3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -moz-opacity: 1; /* Firefox and Mozilla browsers */
    -webkit-opacity: 1; /* WebKit browser e.g. Safari */
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  99% {
    opacity: 0;
    -moz-opacity: 0; /* Firefox and Mozilla browsers */
    -webkit-opacity: 0; /* WebKit browser e.g. Safari */
    filter: alpha(opacity=0); /* For IE8 and earlier */

    transform: translate(50px);
    -ms-transform: translate(50px);
    -webkit-transform: translate(50px);
    -moz-transform: translate(50px);
    -o-transform: translate(50px);
  }
  100% {
    display: none;
  }
}

.menu-content-active {
  display: block;
  position: absolute;
  right: 0%;
  top: max(5vw + 25px, 56px);
  background-color: white;
  border-bottom: 2px solid #dadada;
  border-left: 2px solid #dadada;
  border-bottom-left-radius: 10px;

  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-opacity: 0; /* Firefox and Mozilla browsers */
    -webkit-opacity: 0; /* WebKit browser e.g. Safari */
    filter: alpha(opacity=0); /* For IE8 and earlier */
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    -moz-opacity: 1; /* Firefox and Mozilla browsers */
    -webkit-opacity: 1; /* WebKit browser e.g. Safari */
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
}

.menu-content-active li {
  width: 100%;
  padding: 10px 25px;
  font-size: var(--h9-font-size);
  border-bottom: 1px solid #dadada6a;
}

.menu-content-active li:hover,
.menu-content-active li:active {
  background-color: rgba(245, 245, 245, 0.65);
}
