.navbar {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-gap: 1.5vw 5%;
  grid-template-areas: "logo mainbar";
  border-bottom: 1px #f5f5f5 solid;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.15), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
  margin: 10px 20px;
  font-size: 30px;
  /* font-size: 1.9rem; */
  /* font-size: 2vw; */
  /* font-size: calc(15px + 0.390625vw); */
  font-size: var(--h4-font-size);
  font-weight: 400;
}

.logopic {
  max-width: 60px;
}

.logotext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbar {
  grid-area: mainbar;
  margin: 0 20px;
  /* margin-left: 30%; */
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* font-size: 22px; */
  font-size: var(--h6-font-size);
  font-weight: 300;
}

.logged {
  grid-template-columns: 4fr 5fr 5fr 4fr 6fr 4fr;
}

.mainbar a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged a:first-child {
  grid-column-start: 2;
}

.admin a:first-child {
  grid-column-start: auto;
}

.mainbar a:hover,
.mainbar a:focus {
  background-color: rgba(245, 245, 245, 0.65);
}
