.footer {
  margin-top: 10px;
  display: grid;
  grid-template-areas:
    "topcontent"
    "bottomcontent";
  grid-gap: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(220, 220, 220, 0.8);
  letter-spacing: 1px;
  font-family: "Montesserat", sans-serif;
}

.top-content {
  grid-area: topcontent;
  padding: 30px 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "help about";
  color: rgba(220, 220, 220, 0.8);
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.help,
.about {
  display: grid;
  grid-gap: 0.5em;
  /* font-size: 14px; */
  font-size: var(--h10-font-size);
}

.top-content-link,
.bottom-content-link {
  color: rgba(220, 220, 220, 0.8);
  margin: 0 5px;
}

.top-content-link:hover,
.bottom-content-link:hover {
  color: white;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 0 5px;
}

.bottom-content {
  grid-area: bottomcontent;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "location socials info";
  /* font-size: 12px; */
  font-size: var(--h12-font-size);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location {
  grid-area: location;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: rgba(220, 220, 220, 0.6);
  /* font-size: 10px; */
  font-size: var(--h12-font-size);
}

.location h4 {
  margin: 0px 5px;
}

.socials {
  grid-area: socials;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  grid-area: info;
  display: flex;
  justify-content: right;
  -webkit-justify-content: flex-end;
  align-items: flex-end;
}

.social-test {
  text-align: center;
  display: flex;
}

.social-test h2 {
  color: #fff;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

.social-test div {
  color: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  transition: ease 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-test i {
  transform: scale(1.3);
}

.social-test div:hover {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.social:hover > div {
  opacity: 0.5;
}

.social:hover > div:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .social-test div {
    color: rgba(255, 255, 255, 0.6);
    width: 20px;
    height: 20px;
  }

  .social-test i {
    transform: scale(1);
  }
}
