.product {
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "prod-pic prod-content";
  grid-gap: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 15px 10px;
  padding: 15px;
}

.prod-pic {
  grid-area: prod-pic;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 12rem;
}

.prod-pic img {
  max-width: 100%;
  max-height: 100%;
}

.prod-content {
  grid-area: prod-content;
  display: grid;
  padding: 15px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "prod-name prod-name prod-price"
    "prod-firm prod-firm prod-size"
    "prod-remove prod-quantity prod-add";
}

.prod-name {
  grid-area: prod-name;
  font-family: sans-serif;
  font-weight: 500;
  /* font-size: 24px; */
  font-size: var(--h7-font-size);
  text-align: left;
}

.prod-firm {
  grid-area: prod-firm;
  text-align: left;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: var(--h8-font-size);
}

.prod-price {
  grid-area: prod-price;
  color: black;
  text-align: right;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: var(--h8-font-size);
  padding: 5px 0;
}

.prod-content button {
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.2s linear;
}

.prod-add {
  grid-area: prod-add;
  background-color: rgb(81, 202, 132, 0.2);
}

.prod-add:hover {
  background-color: rgb(64, 228, 132);
}

.prod-quantity {
  grid-area: prod-quantity;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h9-font-size);
}

.prod-remove {
  grid-area: prod-remove;
  background-color: rgba(207, 44, 44, 0.2);
}

.prod-remove:hover {
  background-color: rgb(240, 40, 40);
}

@media screen and (max-width: 500px) {
  .product {
    grid-gap: 5px;
    margin: 10px 2px;
    padding: 5px;
  }

  .prod-pic img {
    width: 90%;
    border-radius: 8px;
  }

  .prod-content {
    padding: 10px;
    grid-gap: 5px;
    grid-template-areas:
      "prod-name prod-name prod-add"
      "prod-firm prod-firm prod-quantity"
      "prod-price - prod-remove";
  }

  .prod-name {
    font-size: var(--h10-font-size);
  }

  .prod-firm {
    font-size: var(--h11-font-size);
  }

  .prod-price {
    font-size: var(--h11-font-size);
    text-align: left;
    padding: 0;
  }

  .prod-quantity {
    font-size: var(--h11-font-size);
  }

  .prod-add,
  .prod-remove {
    padding: 5px;
  }
}
