.product {
  background-color: white;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "prod-pic prod-content";
  grid-gap: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 15px 10px;
  padding: 15px;
}

.prod-pic {
  grid-area: prod-pic;
}

.prod-pic img {
  width: 70%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.prod-content {
  grid-area: prod-content;
  display: grid;
  padding: 15px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "prod-name prod-name prod-price"
    "prod-firm prod-firm prod-size"
    "prod-remove prod-quantity prod-add";
}

.prod-name {
  grid-area: prod-name;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
}

.prod-firm {
  grid-area: prod-firm;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

.prod-price {
  grid-area: prod-price;
  color: black;
  text-align: right;
  font-weight: 500;
  font-size: 20px;
}

.prod-content button {
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.2s linear;
}

.prod-add {
  grid-area: prod-add;
  background-color: rgb(81, 202, 132, 0.2);
}

.prod-add:hover {
  background-color: rgb(64, 228, 132);
}

.prod-quantity {
  grid-area: prod-quantity;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-remove {
  grid-area: prod-remove;
  background-color: rgba(207, 44, 44, 0.2);
}

.prod-remove:hover {
  background-color: rgb(240, 40, 40);
}
