.paycard {
  display: block;
  padding: 20px;
  margin: 15px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.total {
  text-align: center;
  font-size: 18px;
}
