.product {
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "prod-pic prod-content";
  grid-gap: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 15px 10px;
}

.prod-pic {
  grid-area: prod-pic;
}

.prod-pic img {
  width: 60%;
  border-radius: 16px;
  margin: 5px;
}

.prod-content {
  grid-area: prod-content;
  display: flex;
  justify-content: left;
  align-items: center;
}

.prod-name {
  font-family: sans-serif;
  font-weight: 300;
  /* font-size: 26px; */
  font-size: var(--h8-font-size);
  color: rgb(180, 180, 180);
  margin-left: 6%;
}
