.paycard {
  display: grid;
  /* grid-template-areas:
    "total"
    "paycarditems"; */
  grid-gap: 20px;
  padding: 20px;
  margin: 15px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.total {
  /* grid-area: total; */
  text-align: center;
  /* font-size: 18px; */
  font-size: var(--h9-font-size);
}

@media screen and (max-width: 500px) {
  .paycard {
    grid-gap: 15px;
    padding: 15px 10px;
  }
}

/* .paycard-items {
  grid-area: paycarditems;
  display: grid;
  grid-gap: 1px;
} */
