:root {
  --btn-delete-color: rgb(201, 52, 52);
}

.button {
  width: 80%;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
  color: rgba(255, 255, 255, 0.9);
  font-size: var(--h10-font-size);
  letter-spacing: 1px;
  background-color: var(--btn-delete-color);
  border: 0.125em solid var(--btn-delete-color);
  border-radius: 4px;
  box-shadow: 0 0 0.5em 0 var(--btn-delete-color);
  transition: all 200ms linear;
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: white;
  background-color: var(--btn-delete-color);
  border: 0.125em solid var(--btn-delete-color);
  box-shadow: 0 0 0.7em 0.1em var(--btn-delete-color);
}
