* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.content {
  padding: 5px;
  min-height: 35vw;
  
  /* background: -moz-linear-gradient(0deg, rgba(34,193,195,0.15) 0%, rgba(253,187,45,0.15) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,0.15) 0%, rgba(253,187,45,0.15) 100%);
  background: linear-gradient(0deg, rgba(34,193,195,0.15) 0%, rgba(253,187,45,0.15) 100%); */
}

@media screen and (max-width: 600px) {
  .content {
    min-height: 95vw;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    min-height: 95vw;
  }
}

.centered {
  text-align: center;
  margin: 50px;
}

.hard-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-centered {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
