* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.content { 
  padding: 5px;
}

.centered {
    text-align: center;
    margin: 50px;
}

.hard-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-centered {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
}

