@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.content {
  padding: 5px;
  padding-top: 70px;
  min-height: 35vw;
  /* background-color: var(--primary-color); */
  /* background-image: linear-gradient(
      rgba(100, 148, 237, 0.15),
      rgba(221, 160, 221, 0.15),
      rgba(230, 86, 0, 0.15)
    ),
    url("/public/foam.jpg"); */

  /* background-image: url("/public/foam.jpg"); */
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1200px) {
  .content {
    min-height: 95vw;
  }
}

@media screen and (max-width: 600px) {
  .content {
    min-height: 93vw;
  }
}

.centered {
  text-align: center;
  margin: 50px;
}

.hard-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-centered {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
