:root {
  --h1-font-size: calc(26px + 1.5vw);
  --h2-font-size: calc(24px + 1.4vw);
  --h3-font-size: calc(22px + 1.3vw);
  --h4-font-size: calc(20px + 1.2vw);
  --h5-font-size: calc(18px + 1.1vw);
  --h6-font-size: calc(16px + 1vw);
  --h7-font-size: calc(14px + 0.9vw);
  --h8-font-size: calc(12px + 0.8vw);
  --h9-font-size: calc(10px + 0.7vw);
  --h10-font-size: calc(8px + 0.65vw);
  --h11-font-size: calc(7px + 0.5vw);
  --h12-font-size: calc(6px + 0.4vw);

  --main-color: white;
  --primary-color: white;
  --secondary-color: rgb(240, 240, 240);

  /* --main-color: #99c9e1;
  --primary-color: #294d61;
  --secondary-color: #6da5c0;
  --accent-main-color: #0f969f;
  --accent-light-color: #0c7075;
  --accent-dark-color: #072e33;
  --accent-black-color: #05161a; */

  --text-light-color: #99c9e1;
  --text-dark-color: #072e33;
}

@media screen and (max-width: 500px) {
  :root {
    --h1-font-size: calc(20px + 2.8vw);
    --h2-font-size: calc(18px + 2.6vw);
    --h3-font-size: calc(17px + 2.4vw);
    --h4-font-size: calc(16px + 2.2vw);
    --h5-font-size: calc(15px + 2.1vw);
    --h6-font-size: calc(14px + 2vw);
    --h7-font-size: calc(12px + 2vw);
    --h8-font-size: calc(10px + 2vw);
    --h9-font-size: calc(8px + 1.8vw);
    --h10-font-size: calc(6px + 1.7vw);
    --h11-font-size: calc(5px + 1.45vw);
    --h12-font-size: calc(4px + 1.3vw);
  }
}

.body {
  margin: 0;
  padding: 0;
}
