:root {
    --h1-font-size: calc(20px + 1.4vw);
    --h2-font-size: calc(28px + 1.3vw);
    --h3-font-size: calc(16px + 1.2vw);
    --h4-font-size: calc(14px + 1.1vw);
    --h5-font-size: calc(12px + 1vw);
    --h6-font-size: calc(10px + 0.9vw);
    --h7-font-size: calc(8px + 0.8vw);
    --h8-font-size: calc(6px + 0.7vw);
    --h9-font-size: calc(4px + 0.6vw);
    --h10-font-size: calc(2px + 0.5vw);
  }

.body {
    margin: 0;
    padding: 0;
}