.product {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-areas: "delete content add";
  grid-gap: 10px;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* margin: 10px 40px; */
  margin: 10px 5%;
}

.prod-delete-from-favorites {
  grid-area: delete;
  border-radius: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: rgba(207, 44, 44, 0.2);
}

.prod-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 12fr;
  grid-template-areas: "pic info";
  /* grid-gap: 40px; */
  grid-gap: 3%;
  /* padding: 15px 20px; */
  padding: 2% 5%;
}

.prod-add-to-cart {
  grid-area: add;
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgb(81, 202, 132, 0.2);
}

.prod-pic {
  grid-area: pic;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.prod-pic img {
  max-width: 100%;
  max-height: 100%;
}

.prod-info {
  grid-area: info;
  display: grid;
  padding: 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "prod-name prod-price"
    "prod-firm prod-size";
}

.prod-name {
  grid-area: prod-name;
  font-family: sans-serif;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: var(--h8-font-size);
  text-align: left;
}

.prod-firm {
  grid-area: prod-firm;
  text-align: left;
  font-weight: 400;
  /* font-size: 18px; */
  font-size: var(--h9-font-size);
}

.prod-price {
  grid-area: prod-price;
  color: black;
  text-align: right;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: var(--h9-font-size);
  padding: 5px 0;
}

@media screen and (max-width: 500px) {
  .product {
    grid-gap: 10px;
    margin: 10px 1%;
  }

  .prod-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prod-name {
    font-size: var(--h10-font-size);
  }

  .prod-firm {
    display: none;
  }

  .prod-price {
    display: none;
  }
}

.prod-add-to-cart,
.prod-delete-from-favorites {
  /* font-size: 24px; */
  font-size: var(--h6-font-size);
  border: none;
  margin: 0;
  transition: all 200ms linear;
}

.prod-add-to-cart:hover {
  background-color: rgb(64, 228, 132);
}

.prod-delete-from-favorites:hover {
  background-color: rgb(240, 40, 40);
}
